# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# LaTeX stuff
*.aux
*.log
*.nav
*.out
*.snm
*.toc
/plant_guard_arduino/config.h
